<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176807241438-cev16rot4usqt62ps39npdpb47dg1pms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176807241438-cev16rot4usqt62ps39npdpb47dg1pms</string>
	<key>API_KEY</key>
	<string>AIzaSyBwDuKkBDOLDBshfZFktbNnCiaa4oGVe9I</string>
	<key>GCM_SENDER_ID</key>
	<string>176807241438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.astrocomputing.Plot</string>
	<key>PROJECT_ID</key>
	<string>plot-321</string>
	<key>STORAGE_BUCKET</key>
	<string>plot-321.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176807241438:ios:9d8b73391efc5a6b69044f</string>
</dict>
</plist>